flask==2.3.2     
flask-sqlalchemy
flask-jwt-extended
flask-rbac      
pymysql         
sqlalchemy
bcrypt          
cryptography


pytest
pytest-flask
factory-boy


ipdb
black
flake8


requests
httpie

werkzeug    
markupsafe    